<% let filePath = jsonData.pages[pageId].filePath %>


<footer class="l-footer" id="footer">
  <div class="p-story__bg" style="transform: scale(1, -1);"></div>
  <!-- <div class="section__bottom inview"></div> -->
  <div class="l-footer__inner">


    <!-- <div class="l-footer__head">
      <div class="l-footer__spec">
        <figure class="l-footer__img--app">
          <img src="<%= filePath %>/assets/images/app_icon.png" alt="">
        </figure>
        <div class="l-footer__detail--spec">
          <dl>
            <dt>タイトル</dt>
            <dd>アプリ名</dd>
            <dt>ジャンル</dt>
            <dd>ジャンル名</dd>
            <dt>対応OS</dt>
            <dd>iOS / Android</dd>
            <dt>リリース</dt>
            <dd>2022年01月01日</dd>
          </dl>
        </div>
      </div>
      <div class="l-footer__dl">
        <ul class="l-footer__list--badge">
          <li class="l-footer__item--badge">
            <a href="">
              <img src="<%= filePath %>/assets/images/ios.png" alt="">
            </a>
          </li>
          <li class="l-footer__item--badge">
            <a href="">
              <img src="<%= filePath %>/assets/images/android.png" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div> -->

</footer>




<!-- vendors -->
<script src="<%= filePath %>assets/scripts/vendors/jquery-3.6.0.min.js"></script>
<script src="<%= filePath %>assets/scripts/vendors/rellax.min.js"></script>
<script src="<%= filePath %>assets/scripts/vendors/lity.min.js"></script>
<script src="<%= filePath %>assets/scripts/vendors/jquery.matchHeight-min.js"></script>
<script src="<%= filePath %>assets/scripts/vendors/intersection-observer.js"></script>
<script src="<%= filePath %>assets/scripts/vendors/swiper-bundle.min.js"></script>

<script>
  var rellax = new Rellax('.js-rellax', {
    center: true,
  });
</script>


<!-- scripts -->
<script src="<%= filePath %>assets/scripts/swiper.js"></script>
<script src="<%= filePath %>assets/scripts/main.js"></script>

<!-- <% if (pageId === 'home'){ %>
<% } else if (pageId === 'about') { %>
<% } else if (pageId === 'work') { %>
<% } else { %>
<% } %> -->

</body>

</html>