<% let title = (pageId === 'home') ? jsonData.siteInfo.name : jsonData.pages[pageId].name + jsonData.siteInfo.name%>
<% let description = jsonData.pages[pageId].description %>
<% let filePath = jsonData.pages[pageId].filePath %>
<!DOCTYPE html>
<html lang="ja">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <meta name="description" content="<%= description %>">
  <meta property="og:url" content="">
  <meta property="og:type" content="website">
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">
  <meta property="og:site_name" content="">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@melon_manga">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <link rel="icon" href="<%= filePath %>assets/images/icon/favicon-32x32.png" sizes="32x32">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Libre+Baskerville:ital@0;1&family=Noto+Serif+JP:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
  <link href="<%= filePath %>assets/styles/vendors/lity.min.css" rel="stylesheet">
  <link href="<%= filePath %>assets/styles/vendors/swiper-bundle.min.css" rel="stylesheet">
  <link href="<%= filePath %>assets/styles/style.css" rel="stylesheet">

</head>


<script>
  setTimeout(function () {
    if (document.getElementsByTagName("html")[0].classList.contains('wf-active') != true) {
      document.getElementsByTagName("html")[0].classList.add('loading-delay');
    }
  }, 3000);

  (function (d) {
    var config = {
        kitId: 'zjh6uvk',
        scriptTimeout: 3000,
        async: true
      },
      h = d.documentElement,
      t = setTimeout(function () {
        h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
      }, config.scriptTimeout),
      tk = d.createElement("script"),
      f = false,
      s = d.getElementsByTagName("script")[0],
      a;
    h.className += " wf-loading";
    tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
    tk.async = true;
    tk.onload = tk.onreadystatechange = function () {
      a = this.readyState;
      if (f || a && a != "complete" && a != "loaded") return;
      f = true;
      clearTimeout(t);
      try {
        Typekit.load(config)
      } catch (e) {}
    };
    s.parentNode.insertBefore(tk, s)
  })(document);
</script>


<body id="top" data-character="1">

  <header class="l-header">
    <div class="l-header__inner">

      <h1 class="l-header__logo">
        <a href="/">
          <img src="https://placehold.jp/120x54.png" alt="会社名">
        </a>
      </h1>

      <nav class="l-header__nav u-dp-pc" style="width: 100%;">
        <ul class="l-header__list">
          <li class="l-header__item--nav">
            <a href="#top">
              TOP
              <span>トップ</span>
            </a>
          </li>
          <li class="l-header__item--nav">
            <a href="#about">
              story
              <span>ストーリー</span>
            </a>
          </li>
          <li class="l-header__item--nav">
            <a href="#chara">
              character
              <span>キャラクター</span>
            </a>
          </li>
                    <li class="l-header__item--nav">
            <a href="#system">
              SYSTEM
              <span>システム</span>
            </a>
          </li>
          <li class="l-header__item--nav">
            <a href="#gallery">
              GALLERY
              <span>ギャラリー</span>
            </a>
          </li>
        </ul>
      </nav>

    </div>
  </header>

  <button class="l-drawer__trigger js-draw--trigger">
    <span class="-line"></span>
  </button>

  <div class="l-drawer__bg js-draw--bg">&nbsp;</div>

  <nav class="l-drawer__content js-draw--content">
    <div class="l-drawer__wrap">
      <ul class="l-drawer__list l-drawer__list--menu">
        <li class="l-drawer__item">
          <a href="#top">
            トップ
            <span>top</span>
          </a>
        </li>
        <li class="l-drawer__item">
          <a href="#about">
            ストーリー
            <span>story</span>
          </a>
        </li>
        <li class="l-drawer__item">
          <a href="/dist/system">
            ゲームシステム
            <span>system</span>
          </a>
        </li>
        <li class="l-drawer__item">
          <a href="#chara">
            キャラクター
            <span>character</span>
          </a>
        </li>
        <li class="l-drawer__item">
          <a href="/dist/gallery">
            ギャラリー
            <span>GALLERY</span>
          </a>
        </li>
        <li class="l-drawer__item">
          <a href="#buy">
            よくある質問
            <span>FAQ</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>



  <p class="c-icon--scroll">
    <span>scroll</span>
  </p>

  <!-- <div class="section__top inview"></div> -->

  <!-- <div class="smoke smoke--chara smoke__right smoke__right--chara"></div>
  <div class="smoke smoke--chara smoke__left smoke__left--chara"></div> -->